.list-empty {
  padding: .8em 0 .5em 0;
}

.list-pages {
  padding: .7em .5em 0 0;
}

.panel-actions button, .ArticleEntry__actions button {
  margin-left: .4em;
}

iframe {
  width: 100%;
  min-height: 80vh;
  border: none;
}

.list-group-item.active h4 a {
  color: #fff;
}
